#container{
    display: flex;
    justify-content: space-around;
}

.card{
    border: 1px black solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    border-radius: 12px;
}
.card-image{
    border-radius: 50%;
}
.card-title{
    font-weight: 600;
    font-size: 24px;
}
.card-button{
    border-radius: 8px;
    background-color: blue;
    padding: 8px 16px;
    border: none;
    color: white;
}
.card-button:hover{
    background-color: red;
    cursor: pointer;
}